<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.powereng.receiving" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:configChanges="keyboardHidden|orientation"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.powereng.receiving.MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- All Product Activity -->
        <activity
            android:name=".LogViewActivity"
            android:label="@string/log_name" >
        </activity>

        <!-- Add Product Activity -->
        <activity
            android:name=".LogNewActivity"
            android:label="@string/new_package" >
        </activity>

        <!-- Edit Product Activity -->
        <activity
            android:name=".PackageDetailActivity"
            android:label="@string/edit_package" >
        </activity>

        <!-- CaptureSignature Activity -->

        <!-- CaptureSignature Activity -->
        <activity
            android:theme="@android:style/Theme.Holo.Dialog"
            android:name=".CaptureSignature"
            android:label="Capture Signature" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>

